:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  padding: 10px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.active {
  background-color: black;
  color: white;
  padding: 5px, 10px;
}

.text-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
